<div class="container d-flex justify-content-center">
  <%= form_with(model: @album, local:true) do |form| %>
    <div>
      <%= form.label :Title %><br>
      <%= form.text_field :title ,class:"formwidth" %>
      <% @album.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :Description %><br>
      <%= form.text_area :body ,class:"formwidth" %>
        <% @album.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>  
    <br>
    <div>
      <%= form.label :Upload_videos %><br>
      <%= form.file_field :videos, multiple: true, direct_upload: true %>
    </div>
    <br>
    <div>
      <%= form.label :upload_a_coverimg %><br>
      <%= form.file_field :coverimg %>
    </div>
    <div class="form-group">
      <%= form.label :publisher %>
      <%= form.check_box :publisher %>
    </div>
    <div class="form-group">
      <%= form.label :tag_ids, 'Tags:' %>
      <%= form.select :tag_ids, options_from_collection_for_select(Tag.order(:name), :id, :name, form.object.tag_ids) %>
    </div>
    <div>
    <br>
      <%= form.submit %>
    </div>
  <% end %>
</div> 
<br> 